.container {
  display: block;
  width: 100%;
}

label {
  color: white;
  font-family: var(--font-family);
  font-size: var(--font-size-s);
  display: grid;
  margin-top: 5px;
}

input {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 3px;
}

select {
  width: 100%;
  padding: 10px 20px;
  color: var(var(--background-color));
  box-sizing: border-box;
  border-radius: 3px;
}

select:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--button-color);
}
@media (max-width: 768px) {
  select {
    width: 94%;
    margin-left: 6px;
  }
}
