@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sigmar&display=swap');

:root {
  --font-family-main: Sigmar, ans-serif;
  --font-family: Poppins, ans-serif;
  --font-size-s: 13px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-x-l: 24px;
  --font-size-xx-l: 32px;
  --main-color: #cbe4de;
  --background-color: #2c3333;
  --button-color: #0e8388;
  --input-color: #bfc0c0;
  --grey: #e8e8e8;
  --grey-main: #a9a9a9;
  --background-color-button-hover: #3e9b9f;
}

* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
}
